<?xml version="1.0" encoding="utf-16"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane DockWidth="267" DockHeight="503" FloatingWidth="210" FloatingHeight="1008" FloatingLeft="28" FloatingTop="534">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scene Hierarchy" IsSelected="True" ContentId="SceneHierarchy" FloatingLeft="28" FloatingTop="534" FloatingWidth="210" FloatingHeight="1008" LastActivationTimeStamp="08/07/2023 14:11:42" />
    </LayoutAnchorablePane>
    <LayoutPanel Orientation="Vertical" DockWidth="0.9651711924439197*">
      <LayoutPanel Orientation="Horizontal">
        <LayoutPanel Orientation="Vertical" DockWidth="0.9601351351351352*">
          <LayoutDocumentPaneGroup Orientation="Horizontal" DockHeight="1.6012269938650308*">
            <LayoutDocumentPane>
              <LayoutDocument Title="Scene View" IsSelected="True" IsLastFocusedDocument="True" ContentId="SceneView" CanClose="False" LastActivationTimeStamp="08/07/2023 14:12:04" />
            </LayoutDocumentPane>
          </LayoutDocumentPaneGroup>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="209" FloatingWidth="210" FloatingHeight="1008" FloatingLeft="946" FloatingTop="624">
            <LayoutAnchorablePane DockHeight="209" FloatingWidth="210" FloatingHeight="1008" FloatingLeft="946" FloatingTop="624">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Project Explorer" IsSelected="True" ContentId="ProjectExplorer" FloatingLeft="946" FloatingTop="624" FloatingWidth="210" FloatingHeight="1008" LastActivationTimeStamp="08/07/2023 14:11:59" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Console" ContentId="Console" FloatingLeft="946" FloatingTop="624" FloatingWidth="210" FloatingHeight="1008" LastActivationTimeStamp="08/07/2023 14:11:18" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutPanel>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="267" FloatingWidth="210" FloatingHeight="1008" FloatingLeft="1148" FloatingTop="273">
          <LayoutAnchorablePane FloatingWidth="210" FloatingHeight="1008" FloatingLeft="1148" FloatingTop="273">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Properties" IsSelected="True" ContentId="Properties" FloatingLeft="1148" FloatingTop="273" FloatingWidth="210" FloatingHeight="1008" LastActivationTimeStamp="08/07/2023 14:11:47" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane FloatingWidth="210" FloatingHeight="1008" FloatingLeft="1797" FloatingTop="323">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Entity Systems" IsSelected="True" ContentId="EntitySystems" FloatingLeft="1797" FloatingTop="323" FloatingWidth="210" FloatingHeight="1008" LastActivationTimeStamp="08/07/2023 14:11:54" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>
      </LayoutPanel>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>
